@model Blogger.Models.Post

@{
    ViewBag.Title = "Details";
}

<head>
     <link rel="stylesheet" href="~/css/newPost.css" asp-append-version="true" />
</head>

                
        <header>
            <div class="nav1" style="margin-left:-120px;"  }>
                  <div class="logo">
                    <a asp-controller="Post" asp-action="list" class="nav-link text-dark" 
                    asp-area="" 
                    style="text-decoration: none; 
                    color: #00008b">
                       <div style="color:  #00008b">Blogger</div> 
                     </a>
                  </div>
                  <div class="nav-list-container">
                    <div class="navli1">
                      <a class="nav-link text-dark" asp-area="" asp-controller="Post" asp-action="new">
                          <div style="color:  #7f5283">Write Post</div> 
                      </a>
                    </div>
                    <div class="navli1">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Login">
                            <div style="color:  #7f5283">Log Out</div>     
                        </a>
                    </div>
                  </div>
                </div>
        </header>



<body style="overflow:hidden; 
            object-fit:cover;
            background-size:cover; 
            height: 100vh; 
            background-image: url('https://images.unsplash.com/photo-1544716278-e513176f20b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80');">
            >

    <div class="d-flex justify-content-center signBody align-middle ">
      <div  style="margin-top:2px" class="card loginCard">
        <article class="card-body">
            <form asp-action="AddorEdit">
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <input readonly style="background-color:lightyellow" asp-for="Title" required type="text" class="form-control editTitle" >
                </div>
                <div class="form-group" >
                    <textarea readonly style="background:none; height:450px" asp-for="Description"  class="form-control editBody" ></textarea>
                </div>
                <div class="form-group">
                    <p style="color:#150050; font-weight:bolder">Related Topics: <input style="border:none; color: #150050;width: 70%" readonly asp-for="Author" type="text"></p>
                </div>
                @*<input type="hidden" asp-for="Author" />*@
                <div class="form-group">
                    <p style="color:#ff884b; font-weight:bolder">Blog posted on: <input style="border:none; color: #ff884b" readonly asp-for="PostedOn" type="text"></p>
                </div>
                <div class="form-group">
                    <button asp-action="List" type="submit" class="btn btn-success btn-block"> Back </button>
                </div>
            </form>
        </article>
      </div>
    </div>
</body>